
<div class="form-title">
    <h4>      SPERO SHIELD SETTINGS</h4>
      
</div>   





<form class="form-horizontal">
    <div class="input-control">
        <label class="control-label">{{ _('Reloder type : ') }}</label>

        <select data-bind="value: settings.plugins.speroplugin.device">
        <option value="Reloder">Reloder</option>
        <option value="Reloder Pro">Reloder Pro</option>
        </select>


</div>








<form class="form-horizontal">
    <div class="input-control">
        <label class="control-label">{{ _('Target Bed Temp : ') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" style="width:7em" data-bind="value: settings.plugins.speroplugin.targetBedTemp">
        </div>
</div>














   

   












