
<div class="form-title">
    <h4>      SPERO SHIELD SETTINGS</h4>
      
</div>   




<div>
    <label class="control-label">{{ _('CONNECT TO PORT: ') }}</label>
    <center><select class="selected" id="queues" data-bind="value:settings.plugins.speroplugin.motorPin3", optionsText: 'name', value: $root.selectedQueue, 
    optionsCaption:'Select port'," style="width:100%;">
    </select></center>
</div> 













   

   












